sudo: required
dist: trusty

language: generic

services:
  - docker

env:
  global:
    - REMOTE_IMAGE="ezsystems/php"
    - LATEST="7.1"
    - FORMAT_VERSION="v1"
  matrix:
    # Run once per Dockerfile-<PHP_VERSION>
    - PHP_VERSION="5.5" EZ_VERSION="~1.6.0"
    - PHP_VERSION="5.6"
    - PHP_VERSION="7.0"
    - PHP_VERSION="7.1"

before_script:
  - if [ ! -d ~/.composer/ ] ; then mkdir ~/.composer/; fi
  - echo "{\"github-oauth\":{\"github.com\":\"d0285ed5c8644f30547572ead2ed897431c1fc09\"}}" > ~/.composer/auth.json
  - bin/.travis/build.sh ${PHP_VERSION}

script: bin/.travis/test.sh

after_success: if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bin/.travis/push.sh ${REMOTE_IMAGE} ${FORMAT_VERSION}; fi

after_failure: if [ -d volumes/ezplatform ]; then cd volumes/ezplatform; docker-compose logs; fi

# test only master (+ Pull requests)
branches:
  only:
    - master
    - /^v\d.\d.\d$/

# disable mail notifications
notifications:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
